<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../output.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RegistrarProducto</title>
  </head>
  <body>
    <header></header>
    <main id="main-container" class="base-home h-screen w-full flex flex-col">
      <section class="flex justify-center items-center w-full bg-white h-24">
        <div class="flex flex-col items-center justify-center mt-5">
          <div class="flex justify-center bg-primary-blue rounded-2xl">
            <h3 class="font-bold text-white text-4xl p-4">Crear producto</h3>
          </div>
        </div>
      </section>
      <!-- NavBar Aside -->
      <nav
        id="nav-bar"
        class="nav-side close fixed flex flex-col top-0 left-0 bg-white z-30"
      >
        <div class="flex h-32 justify-center items-center">
          <div
            class="icon-page bg-primary-blue h-full w-full flex items-center justify-center rounded-lg"
          >
            <span class="text-white font-bold text-6xl">TI</span>
          </div>
          <div class="icon-text flex justify-center items-center w-0 h-32">
            <span
              class="close-text nav-items text-6xl text-text-color font-bold mr-14"
              >Tech Inc.</span
            >
          </div>
        </div>
        <div
          id="switch-navbar"
          class="bg-primary-blue rounded-full w-20 h-20 flex justify-center absolute top-1/2 -right-11 cursor-pointer"
        >
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAI9JREFUSEvVlF0OgCAMg+lN9STqTbzpDAkafkYGpJjA8+i3tQO4yQeT9d1aABER7wiAr3HqBOsDtIWhWkQDiMgB4MoFaRkEoTOHsAF+gATSDHgLG195MUl8Tw25E7ADuGvNDG1R1EAi3myRZU0QKjpnAjbNFhrAmtAMuUfAqh0KuSY63aL1AbTf1Ar21y16AMajVhmts4Z5AAAAAElFTkSuQmCC"
            class="h-20 w-16"
          />
        </div>

        <!--  NavBar Items -->
        <ul class="flex flex-col">
          <li
            class="flex h-32 w-full justify-center items-center border-b-2 border-ligh-gray cursor-pointer hover:bg-primary-blue"
          >
            <a href="../../index.html"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="h-14 w-14 navbar-icons"
              >
                <path
                  d="M12.71 2.29a1 1 0 0 0-1.42 0l-9 9a1 1 0 0 0 0 1.42A1 1 0 0 0 3 13h1v7a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7h1a1 1 0 0 0 1-1 1 1 0 0 0-.29-.71zM6 20v-9.59l6-6 6 6V20z"
                ></path>
              </svg>
            </a>

            <span
              class="nav-items close-text text-3xl text-text-color font-medium"
              >Home</span
            >
          </li>
          <li
            class="flex h-32 w-full justify-center items-center border-b-2 border-ligh-gray cursor-pointer hover:bg-primary-blue hover:border-2 hover:border-ligh-gray"
          >
            <a href="./registrarProducto.html" class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-14 w-14 navbar-icons"
                viewBox="0 0 24 24"
              >
                <circle cx="10.5" cy="19.5" r="1.5"></circle>
                <circle cx="17.5" cy="19.5" r="1.5"></circle>
                <path
                  d="M13 13h2v-2.99h2.99v-2H15V5.03h-2v2.98h-2.99v2H13V13z"
                ></path>
                <path
                  d="M10 17h8a1 1 0 0 0 .93-.64L21.76 9h-2.14l-2.31 6h-6.64L6.18 4.23A2 2 0 0 0 4.33 3H2v2h2.33l4.75 11.38A1 1 0 0 0 10 17z"
                ></path>
              </svg>
              <span
                class="nav-items close-text text-3xl text-text-color font-medium"
                >Create Product</span
              >
            </a>
          </li>
          <li
            class="flex h-32 w-full justify-center items-center border-b-2 border-ligh-gray cursor-pointer hover:bg-primary-blue"
          >
            <a href="./producto.html" class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="h-14 w-14 navbar-icons"
              >
                <circle cx="10.5" cy="19.5" r="1.5"></circle>
                <circle cx="17.5" cy="19.5" r="1.5"></circle>
                <path d="m14 13.99 4-5h-3v-4h-2v4h-3l4 5z"></path>
                <path
                  d="M17.31 15h-6.64L6.18 4.23A2 2 0 0 0 4.33 3H2v2h2.33l4.75 11.38A1 1 0 0 0 10 17h8a1 1 0 0 0 .93-.64L21.76 9h-2.14z"
                ></path>
              </svg>
              <span
                class="nav-items close-text text-3xl text-text-color font-medium"
                >Products</span
              >
            </a>
          </li>

          <!-- User Section -->
          <!-- <li
            class="flex h-32 w-full justify-center items-center border-b-2 border-ligh-gray hover:bg-black"
          >
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAUdJREFUSEvVVcFxwjAQvIMCsDuATqCLDOIBX5jBoQJIBcTMwBceEUMX0EnowKaAcBmYyBHKnWzG9iP+yqe93ds9IdT8Yc33w/8B6MfJHAEXRhEdBffmK2EwWCZdauDRlvspABWndCs2Re7c1Co9AkGXkEb7abizzwsxyAX4aeDrSp3DLDxXCqDeL1tAGgLhTr+2Ri47kYHpWrKxkUvF6ScAtPFKvY9ZeBIB3E6KAPRXyRAJt4Bw0tOgxzWTMXhZJu1mA2/dnHUUdOyfpRn4hmvqHyQyBS5dDsC2puSuPzmQKHMAecNlGVgygTQ0U2hAOWt6bZrpCrTYR+EbN7iMqWBNLwAXe8mqeSzFXeQuLhbAY82nk1zmzWCTrOLLGoDGALjRUWvymAn5zBs0LljcBrUT7vM/a9NfC9bMoIzmhbdpVSCFHpwyYN8vp8YZ1pIxXgAAAABJRU5ErkJggg=="
              class="h-14 w-14"
            />
            <span class="text-3xl text-text-color font-medium">Products</span>
          </li> -->
        </ul>
      </nav>
      <section class="flex justify-center items-center">
        <form
          id="productForm"
          action=" "
          class="form-product flex justify-around bg-white mt-20 rounded-lg"
        >
          <article class="article-form rounded-2xl">
            <div class="flex flex-col w-96 mt-8 ml-8">
              <label class="textInput">Codigo:</label>
              <input
                id="codigoProducto"
                type="text"
                maxlength="14"
                minlength="14"
                placeholder="A2d3AeF32A"
                class="input-form"
              />
            </div>
            <div class="flex flex-col w-96 mt-8 ml-8">
              <span class="textInput">Nombre de producto:</span>
              <input
                id="nombreProducto"
                type="text"
                maxlength="20"
                minlength="5"
                placeholder='"Computador", "Pantalla", "Televisor"'
                class="input-form"
              />
            </div>
            <div class="flex flex-col w-96 mt-8 ml-8">
              <label class="textInput">Categoria del producto:</label>
              <select
                name=""
                id="categoriaProducto"
                class="input-select-form font-semibold"
              >
                <option value="computador" class="font-semibold" selected>
                  computador
                </option>
                <option value="celulares" class="font-semibold">
                  celulares
                </option>
                <option value="monitor" class="font-semibold">monitor</option>
                <option value="tablet" class="font-semibold">tablet</option>
                <option value="accesorio" class="font-semibold">
                  accesorio
                </option>
              </select>
            </div>
            <div class="flex flex-col w-96 mt-8 ml-8">
              <label class="textInput">Precio del producto:</label>
              <input
                id="precioProducto"
                type="number"
                class="input-price-form"
                placeholder="$20.00, $5.00, $14.00"
              />
            </div>
            <div class="flex flex-col w-full mt-8 ml-8">
              <div class="w-11/12 flex items-center justify-between">
                <span class="text-yellow-500 text-3xl font-medium">Feeds:</span>
                <input
                  id="feedsProducto"
                  type="number"
                  max="200000"
                  class="input-feeds-form"
                  placeholder="100, 200"
                />
                <span class="text-yellow-500 text-3xl font-medium">/</span>
                <img src="/src/imgs/star-sm.png" alt="star.png" />
                <input
                  id="starProducto"
                  type="number"
                  min="0"
                  max="5"
                  class="input-feeds-form"
                  placeholder="4.4, 2.3"
                />
              </div>
            </div>
            <div class="flex flex-col w-full mt-8 ml-8">
              <div class="flex items-center">
                <span class="text-green-500 text-3xl font-medium mr-4"
                  >El producto es ecofriendly:</span
                >
                <select
                  name=""
                  id="ecoFriendlyProducto"
                  class="input-eco-form font-semibold"
                >
                  <option value="No" class="font-semibold" selected>No</option>
                  <option value="Si" class="font-semibold">Si</option>
                </select>
              </div>
            </div>
            <div class="flex flex-col w-full mt-8 ml-8">
              <div class="flex items-center">
                <span class="text-3xl font-medium mr-4"
                  >Vendidos en el mes:</span
                >
                <input
                  id="ventasProducto"
                  type="text"
                  class="input-feeds-form"
                  placeholder="2K, 1K"
                />
              </div>
            </div>
            <div class="flex flex-col w-full mt-8 ml-8">
              <div class="flex items-center">
                <span class="text-3xl font-medium mr-4">Domicilio:</span>
                <select
                  name=""
                  id="domicilioProducto"
                  class="input-delivery-form font-semibold"
                >
                  <option value="Gratis" class="font-semibold" selected>
                    Gratis
                  </option>
                  <option value="De pago" class="font-semibold">De pago</option>
                </select>
                <input
                  id="domicilioPrecioProducto"
                  type="number"
                  max="100"
                  class="input-deliveryprice-form"
                  placeholder="$"
                />
              </div>
            </div>
          </article>
          <article class="article-form flex justify-center rounded-lg">
            <div class="flex flex-col items-center mt-10">
              <label class="textInput">Imagen de producto:</label>
              <div class="flex justify-center items-center">
                <input
                  id="imageProductUrl"
                  type="text"
                  class="input-form"
                  placeholder="URL"
                  disabled
                />
                <div id="candadoDivForm" class="candado-div-form">
                  <img
                    id="candadoImage"
                    src="../imgs/lock.svg"
                    class="cursor-pointer ml-4"
                  />
                </div>
              </div>
              <div
                class="h-auto w-full flex items-center justify-center mt-2 border-b-2 border-l-ligh-gray pb-4"
              >
                <select
                  name=""
                  id="imageSelectProduct"
                  class="searchInputSelect font-semibold w-64 h-16"
                >
                  <option value="computador" selected>Computador</option>
                  <option value="monitor">Monitor</option>
                  <option value="audifonos">Audifonos</option>
                  <option value="mouse">Mouse</option>
                  <option value="teclado">Teclado</option>
                  <option value="graficas">Graficas</option>
                  <option value="reloj">Reloj</option>
                  <option value="celulares">Celulares</option>
                  <option value="tablets">Tablets</option>
                  <option value="gafasrv">Gafas RV</option>
                </select>
              </div>
              <div
                class="product-image-form flex items-center border-b-2 border-ligh-gray p-2"
              >
                <img
                  id="imageProduct"
                  src="https://m.media-amazon.com/images/I/71WHbylnDGL._AC_SX444_SY639_FMwebp_QL65_.jpg"
                  class="h-auto w-full object-cover"
                  alt="imageNotFound"
                />
              </div>
              <div class="flex mt-10 border-b-2 border-ligh-gray p-4">
                <button type="submit" class="button-product">
                  Crear Producto
                </button>
                <button id="buttonCampos" class="button-87">
                  Vaciar campos
                </button>
              </div>
            </div>
          </article>
        </form>
      </section>
      <div class="h-auto w-full flex justify-center">
        <a
          href="/index.html"
          class="font-semibold text-lg text-primary-blue underline"
          >¿Necesitas ayuda?</a
        >
      </div>
    </main>
    <script type="module" src="../js/registrarProducto.mjs"></script>
  </body>
</html>
