<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../output.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main
      id="main-container"
      class="base-home h-screen w-full flex flex-col items-center bg-principal-bg"
    >
      <!-- NavBar Aside -->
      <nav
        id="nav-bar"
        class="nav-side close fixed flex flex-col top-0 left-0 bg-white z-30"
      >
        <div class="flex h-32 justify-center items-center">
          <div
            class="icon-page bg-primary-blue h-full w-full flex items-center justify-center rounded-lg"
          >
            <span class="text-white font-bold text-6xl">TI</span>
          </div>
          <div class="icon-text flex justify-center items-center w-0 h-32">
            <span
              class="close-text nav-items text-6xl text-text-color font-bold mr-14"
              >Tech Inc.</span
            >
          </div>
        </div>
        <div
          id="switch-navbar"
          class="bg-primary-blue rounded-full w-20 h-20 flex justify-center absolute top-1/2 -right-11 cursor-pointer"
        >
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAI9JREFUSEvVlF0OgCAMg+lN9STqTbzpDAkafkYGpJjA8+i3tQO4yQeT9d1aABER7wiAr3HqBOsDtIWhWkQDiMgB4MoFaRkEoTOHsAF+gATSDHgLG195MUl8Tw25E7ADuGvNDG1R1EAi3myRZU0QKjpnAjbNFhrAmtAMuUfAqh0KuSY63aL1AbTf1Ar21y16AMajVhmts4Z5AAAAAElFTkSuQmCC"
            class="h-20 w-16"
          />
        </div>

        <!--  NavBar Items -->
        <ul class="flex flex-col">
          <li
            class="flex h-32 w-full justify-center items-center border-b-2 border-ligh-gray cursor-pointer hover:bg-primary-blue"
          >
            <a href="/index.html"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="h-14 w-14 navbar-icons"
              >
                <path
                  d="M12.71 2.29a1 1 0 0 0-1.42 0l-9 9a1 1 0 0 0 0 1.42A1 1 0 0 0 3 13h1v7a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7h1a1 1 0 0 0 1-1 1 1 0 0 0-.29-.71zM6 20v-9.59l6-6 6 6V20z"
                ></path>
              </svg>
            </a>

            <span
              class="nav-items close-text text-3xl text-text-color font-medium"
              >Home</span
            >
          </li>
          <li
            class="flex h-32 w-full justify-center items-center border-b-2 border-ligh-gray cursor-pointer hover:bg-primary-blue hover:border-2 hover:border-ligh-gray"
          >
            <a
              href="/src/views/registrarProducto.html"
              class="flex items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-14 w-14 navbar-icons"
                viewBox="0 0 24 24"
              >
                <circle cx="10.5" cy="19.5" r="1.5"></circle>
                <circle cx="17.5" cy="19.5" r="1.5"></circle>
                <path
                  d="M13 13h2v-2.99h2.99v-2H15V5.03h-2v2.98h-2.99v2H13V13z"
                ></path>
                <path
                  d="M10 17h8a1 1 0 0 0 .93-.64L21.76 9h-2.14l-2.31 6h-6.64L6.18 4.23A2 2 0 0 0 4.33 3H2v2h2.33l4.75 11.38A1 1 0 0 0 10 17z"
                ></path>
              </svg>
              <span
                class="nav-items close-text text-3xl text-text-color font-medium"
                >Crear producto</span
              >
            </a>
          </li>
          <li
            class="flex h-32 w-full justify-center items-center border-b-2 border-ligh-gray cursor-pointer hover:bg-primary-blue"
          >
            <a href="/src/views/producto.html" class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="h-14 w-14 navbar-icons"
              >
                <circle cx="10.5" cy="19.5" r="1.5"></circle>
                <circle cx="17.5" cy="19.5" r="1.5"></circle>
                <path d="m14 13.99 4-5h-3v-4h-2v4h-3l4 5z"></path>
                <path
                  d="M17.31 15h-6.64L6.18 4.23A2 2 0 0 0 4.33 3H2v2h2.33l4.75 11.38A1 1 0 0 0 10 17h8a1 1 0 0 0 .93-.64L21.76 9h-2.14z"
                ></path>
              </svg>
              <span
                class="nav-items close-text text-3xl text-text-color font-medium"
                >Productos</span
              >
            </a>
          </li>
          <li
            class="flex h-32 w-full justify-center items-center border-b-2 border-ligh-gray cursor-pointer hover:bg-primary-blue"
          >
            <a href="" class="flex items-center">
              <svg
                viewBox="0 0 24.00 24.00"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                stroke="#ffffff"
                class="h-14 w-14 navbar-icons"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M9 4L9 20M15 4L15 20M3 9H21M3 15H21M6.2 20H17.8C18.9201 20 19.4802 20 19.908 19.782C20.2843 19.5903 20.5903 19.2843 20.782 18.908C21 18.4802 21 17.9201 21 16.8V7.2C21 6.0799 21 5.51984 20.782 5.09202C20.5903 4.71569 20.2843 4.40973 19.908 4.21799C19.4802 4 18.9201 4 17.8 4H6.2C5.07989 4 4.51984 4 4.09202 4.21799C3.71569 4.40973 3.40973 4.71569 3.21799 5.09202C3 5.51984 3 6.07989 3 7.2V16.8C3 17.9201 3 18.4802 3.21799 18.908C3.40973 19.2843 3.71569 19.5903 4.09202 19.782C4.51984 20 5.07989 20 6.2 20Z"
                    stroke="#ffffff"
                    stroke-width="0.4800000000000001"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
              <span
                class="nav-items close-text text-3xl text-text-color font-medium"
                >Tablas</span
              >
            </a>
          </li>

          <!-- User Section -->
          <!-- <li
            class="flex h-32 w-full justify-center items-center border-b-2 border-ligh-gray hover:bg-black"
          >
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAUdJREFUSEvVVcFxwjAQvIMCsDuATqCLDOIBX5jBoQJIBcTMwBceEUMX0EnowKaAcBmYyBHKnWzG9iP+yqe93ds9IdT8Yc33w/8B6MfJHAEXRhEdBffmK2EwWCZdauDRlvspABWndCs2Re7c1Co9AkGXkEb7abizzwsxyAX4aeDrSp3DLDxXCqDeL1tAGgLhTr+2Ri47kYHpWrKxkUvF6ScAtPFKvY9ZeBIB3E6KAPRXyRAJt4Bw0tOgxzWTMXhZJu1mA2/dnHUUdOyfpRn4hmvqHyQyBS5dDsC2puSuPzmQKHMAecNlGVgygTQ0U2hAOWt6bZrpCrTYR+EbN7iMqWBNLwAXe8mqeSzFXeQuLhbAY82nk1zmzWCTrOLLGoDGALjRUWvymAn5zBs0LljcBrUT7vM/a9NfC9bMoIzmhbdpVSCFHpwyYN8vp8YZ1pIxXgAAAABJRU5ErkJggg=="
              class="h-14 w-14"
            />
            <span class="text-3xl text-text-color font-medium">Products</span>
          </li> -->
        </ul>
      </nav>
      <section id="product-main" class="product-container bg-white rounded-lg">
        <div class="flex flex-col items-center justify-center mt-5">
          <div class="flex justify-center bg-primary-blue rounded-2xl">
            <h3 class="font-bold text-white text-4xl p-4">Buscar productos</h3>
          </div>
          <input
            id="searchInput"
            type="text"
            class="searchInput mt-4 p-2 focus:outline-primary-blue font-bold rounded-lg"
            placeholder="samsung, acer, alcatel"
          />
        </div>
        <div id="loaderDiv" class="flex justify-center items-center"></div>
        <section
          id="products-table"
          class="flex flex-col justify-center items-center"
        >
          <table id="productsTable" class="tabla-producto">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th>Feeds</th>
                <th>Estrellas</th>
                <th>EcoFriendly</th>
                <th>Domicilio</th>
              </tr>
            </thead>
            <tbody id="cuerpo-tabla"></tbody>
          </table>
        </section>
        <aside
          class="filtros fixed flex flex-col items-center top-60 right-0 bg-white z-30 rounded-2xl border-2 border-ligh-gray"
        >
          <span class="font-semibold text-5xl text-primary-blue">Filtrar</span>
          <div
            class="flex flex-col items-center h-fit w-full mt-4 border-y-2 border-ligh-gray"
          >
            <span class="text-3xl mr-2 ml-2 font-semibold text-text-color"
              >Precio:</span
            >
            <div class="flex items-center justify-center font-semibold">
              <div>
                <span id="slideValue" class="text-3xl mr-2 text-green-400"
                  >$40</span
                >
              </div>
              <input
                id="precioProductoSlide"
                type="range"
                min="0"
                max="1000"
                value="40"
                step="1"
              />
              <div class="text-3xl ml-1 text-green-400">$1.000</div>
            </div>
          </div>
          <div
            class="flex flex-col items-center h-fit w-full mt-4 border-b-2 border-ligh-gray"
          >
            <span class="text-3xl mr-2 ml-2 font-semibold text-text-color"
              >Categoria:</span
            >
            <select name="" id="categoriaProducto" class="inputFilter">
              <option value="" class="font-semibold">Ninguna</option>
              <option value="computador" class="font-semibold">
                computador
              </option>
              <option value="monitor" class="font-semibold">monitor</option>
              <option value="celular" class="font-semibold">celular</option>
              <option value="tablet" class="font-semibold">tablet</option>
              <option value="accesorio" class="font-semibold">accesorio</option>
            </select>
          </div>
          <div
            class="flex flex-col items-center h-fit w-full p-2 mt-4 border-b-2 border-ligh-gray"
          >
            <button id="filtrar-button" class="button-filtrar">
              Siguiente
            </button>
            <button id="button-limpiar" class="button-limpiar mt-2">
              Limpiar
            </button>
          </div>
        </aside>
      </section>
    </main>
    <script type="module" src="../js/tabla.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
