* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.8%;
}

/* Nav */
.nav-side {
  height: 100vh;
  width: 32rem;
  border-right: 2px solid #dddddd;
}

.nav-side.close {
  width: 10rem;
}

.close-text {
  display: none;
}

main {
  position: relative;
  left: 10rem;
}

.base-home {
  height: fit-content;
  width: calc(100% - 10rem);
}

.home {
  position: relative;
  left: 32rem;
  width: calc(100% - 32rem);
  .icon-page {
    height: 100%;
    width: 40%;
  }
  .icon-text {
    height: 100%;
    width: 100%;
  }
}

.nav-side.close ~ home {
  left: 8.8rem;
  width: calc(100% - 10rem);
  left: 32rem;
}

.navbar-icons {
  fill: #5b91f0;
}

li:hover {
  .nav-items {
    color: white;
  }
  .navbar-icons {
    fill: white;
  }
}

/* Form */

.form-product {
  height: 100%;
  width: 82rem;
}

.article-form {
  height: 70rem;
  width: 38rem;
  border: 2px solid #dddddd;
}

.input-form {
  height: 4rem;
  width: 28rem;
  border: 2px solid #dddddd;
  margin-top: 0.2rem;
  padding: 0.5rem;
  border-radius: 1.2rem;
  font-size: medium;
  font-weight: 400;
  outline-color: #5b91f0;
}

.input-select-form {
  height: 4rem;
  width: 28rem;
  border: 2px solid #5b91f0;
  margin-top: 0.2rem;
  padding: 0.5rem;
  border-radius: 1.2rem;
  font-size: medium;
  font-weight: 600;
  outline-color: #5b91f0;
}

.input-price-form {
  height: 4rem;
  width: 28rrem;
  border: 2px solid #dddddd;
  margin-top: 0.2rem;
  padding: 0.5rem;
  border-radius: 1.2rem;
  font-size: medium;
  font-weight: 600;
  outline-color: #22c55e;
}

.div-feeds {
  height: 2rem;
  width: 26rem;
}

.input-feeds-form {
  height: 4rem;
  width: 8rem;
  border: 2px solid #dddddd;
  margin-top: 0.2rem;
  padding: 0.5rem;
  border-radius: 1.2rem;
  font-size: medium;
  font-weight: 600;
  outline-color: #eab357;
}

.input-eco-form {
  height: 4rem;
  width: 6rem;
  border: 2px solid #dddddd;
  margin-top: 0.2rem;
  padding: 0.5rem;
  border-radius: 1.2rem;
  font-size: medium;
  font-weight: 600;
  outline-color: #eab357;
}

.input-sells-form {
  height: 4rem;
  width: 10rem;
  border: 2px solid #dddddd;
  margin-top: 0.2rem;
  padding: 0.5rem;
  border-radius: 1.2rem;
  font-size: medium;
  font-weight: 600;
  outline-color: #5b91f0;
}

.input-delivery-form {
  height: 4rem;
  width: 10rem;
  border: 2px solid #5b91f0;
  margin-top: 0.2rem;
  padding: 0.5rem;
  border-radius: 1.2rem;
  font-size: medium;
  font-weight: 600;
  outline-color: #5b91f0;
}

.input-deliveryprice-form {
  height: 4rem;
  width: 14rem;
  border: 2px solid #dddddd;
  margin-top: 0.2rem;
  padding: 0.5rem;
  border-radius: 1.2rem;
  font-size: medium;
  font-weight: 600;
  outline-color: #dddddd;
}

.candado-div-form {
  height: 2rem;
  width: 2rem;
}

.product-image-form {
  height: 34rem;
  width: 25rem;
}

.button-product {
  margin: 10px;
  padding: 15px 30px;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: bold;
  box-shadow: 0px 0px 14px -7px #649af7;
  background-image: linear-gradient(
    45deg,
    #75a6fb 0%,
    #649af7 51%,
    #75a6fb 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.disable {
  background-color: #dddddd;
}

.button-product:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-product:active {
  transform: scale(0.95);
}

.button-87 {
  margin: 10px;
  padding: 15px 30px;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #a82308 0%,
    #b2432c 51%,
    #a82308 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

/* Principal container */

.container {
  height: 100%;
  width: 100%;
}

/* Filtros */

.product-container {
  width: 84%;
}

.searchInput {
  height: 4rem;
  width: 46rem;
  border: 0.2rem solid #dddddd;
  font-size: medium;
}

.product-card {
  height: 40rem;
}

.filtros {
  height: 27rem;
  width: 25rem;
}

.paginacion {
  height: 4rem;
  width: 32rem;
}

.button-filtrar {
  height: 4rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  padding: 0.8rem;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-filtrar:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.button-limpiar {
  height: 4rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  padding: 0.8rem;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #f7994b 0%, #f7994b 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(163, 87, 12, 0.732),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-limpiar:hover,
.button-limpiar:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-limpiar:hover {
  transform: translateY(-1px);
}

.button-limpiar:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

/* Indicaciones */

.container-indicaciones {
  height: 12rem;
  width: 70%;
  margin-top: 2rem;
  margin-left: 2rem;
}

.image-info {
  height: auto;
  width: 100%;
}

.image-info img {
  height: 40rem;
  width: 40rem;
}

.container-indicaciones div img {
  height: 22rem;
  width: 32rem;
}

/* Pagination */

.items-pagination:hover {
  background-color: #5b91f0;
  .text-pagination {
    color: white;
  }
}

.loaderDiv {
  margin-left: 12rem;
  height: 80rem;
  width: 25rem;
}

.loaderDivTablas {
  margin-left: 12rem;
  height: 80rem;
  width: 83%;
}

.loader {
  --r1: 154%;
  --r2: 68.5%;
  width: 50rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(
      var(--r1) var(--r2) at top,
      #0000 79.5%,
      #5b91f0 80%
    ),
    radial-gradient(var(--r1) var(--r2) at bottom, #5b91f0 79.5%, #0000 80%),
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #5b91f0 80%), #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: l9 2s infinite linear;
}
@keyframes l9 {
  33% {
    background-position: 0% 33%, 100% 33%, 200% 33%;
  }
  66% {
    background-position: -100% 66%, 0% 66%, 100% 66%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%;
  }
}

.hidden {
  display: none;
}

/* Tablas */

.tabla-producto {
  margin: 2.5rem 0;
  font-size: 1.5rem;
  min-width: 150rem;
  tr:nth-child(even) {
    background-color: #f8f6ff;
  }
}
.tabla-producto thead tr {
  height: 4rem;
  background-color: #6792de;
  color: white;
}

.tabla-producto thead tr th {
  padding-left: 0.1rem;
}

.tabla-producto th .tabla-producto td {
  padding: 1.2rem 1.5rem;
}

.tabla-producto tbody tr {
  height: 4rem;
  width: 2rem;
  border-left: 0.1rem solid #dddddd;
  border-right: 0.1rem solid #dddddd;
  border-bottom: 0.1rem solid #dddddd;
}

.tabla-producto tbody tr:nth-child(even) {
  background-color: #dddddd;
}

.tabla-producto tbody tr:last-of-type {
  border-bottom: 0.2rem solid #6792de;
}
